header{
    background-color: #FFA700;
    height: 200px;
    padding: 80px;
}

body{
    background-color: #A72525 !important;
    color: black;
}

h1{
    color: black;
}

.posts-container {
    background-color: #FFC1CC;
    width: 500px;
    margin-left: 50%;
}

article{
    background-color: #FFC1CC;
    width: 500px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 3px solid white;
}

footer{
    background-color: #FFA700;
    height: 200px;
}